.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #e7e7e7;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
  }
  
  .forgotPasswordBox {
    background-color: #fff;
    width: 25vw;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .forgotPasswordHeading {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .inputGroup {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .inputGroup svg {
    position: absolute;
    left: 10px;
    font-size: 1.5rem;
    color: #666;
  }
  
  .inputGroup input {
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
  }
  
  .forgotPasswordBtn {
    padding: 0.75rem;
    border: none;
    background-color: tomato;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forgotPasswordBtn:hover {
    background-color: #b3422e;
  }
  
  @media (max-width: 600px) {
    .forgotPasswordBox {
      width: 90%;
      padding: 1.5rem;
    }
  
    .forgotPasswordHeading {
      font-size: 2rem;
    }
  
    .inputGroup input {
      padding: 1rem 1rem 1rem 3rem;
      font-size: 1.2rem;
    }
  
    .forgotPasswordBtn {
      font-size: 1.2rem;
      padding: 1rem;
    }
  }
  